<div class="container mt-5">
  <!-- Título do Objetivo -->
    <!-- Barra de Navegação Secundária - Configurações -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 rounded-4 shadow-lg">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 text-white">Configurações</span>
      <div class="d-flex">
        <%= render 'edit', objective: @objective %>
        <%= link_to "Voltar", objectives_path, class: "btn btn-secondary px-4 py-2 rounded-pill ms-3" %>
      </div>
    </div>
  </nav>
  
  <h1 class="text-white mb-4">
    <%= @objective.title %>
  </h1>

  <!-- Descrição do Objetivo -->
  <p class="text-white fs-5 mb-4">
    <strong>Descrição:</strong>
    <%= @objective.description %>
  </p>

  <!-- Status -->
  <p class="fs-5 mb-4">
    <strong>Status:</strong> 
    <span class="<%= @objective.status ? 'text-success' : 'text-primary' %>">
      <%= @objective.status ? "Concluído" : "Em Andamento" %>
    </span>
  </p>



</div>
